@using Microsoft.AspNetCore.Html

<style>
    .nav-link {
        color: black;
    }
</style>

<ul class="nav flex-row">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Teams">Teams</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/MatchResults">Match Results</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="/TopOffensiveTeams">Top Teams</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/HighlightMatch">Highlight Match</a>
    </li>
</ul>